::selection {
  color: rgb(64, 64, 64);
  background: #ffc1c6;
}

textarea {
  font-family: monospace;
  font-size: 13px !important;
}

/* Hide ad link for pro version on Info page */
[href*="deploy_pro"] {
  display: none;
}

.sf-heading {
 color: rgb(192, 192, 192);
}
.nav-pills .nav-item .nav-link.active {
  background-color: #AA717C !important;
  border-radius: 6px;
}
.nav-pills .nav-item .nav-link:hover {
  background-color: rgb(64, 64, 64);
  border-radius: 6px;
}
.active > .nav-text {
  color: rgb(255, 255, 255) !important;
}
.nav-text, .side-nav-con [class^="sf2-icon-"] {
  color: rgb(192, 192, 192);
}

.avatar {
  content: url(http://192.168.0.32/media/avatars/7/f/3be9344dea4fe2b56f5866a288dce6/resized/160/8da6070fbb3bb3ac2a8dcb2c97ad7970.png);
}
#notification-popover, .top-search-file-icon {
  color: rgb(128, 128, 128) !important;
  transition: color 0.2s;
}
#notification-popover:hover, .top-search-file-icon:hover {
  color: rgb(208, 208, 208) !important;
}

.main-panel-north, .side-panel-north, .file-view-header {
  background: rgb(48, 48, 48) !important;
  border-bottom: 1px solid rgb(64, 64, 64) !important;
}
.side-panel-center {
  border-right: 1px solid rgb(48, 48, 48) !important;
}
.side-panel-footer {
  border-right: 1px solid rgb(48, 48, 48);
}
.side-nav-footer {
  background: rgb(20, 20, 20) !important;
  border-top: 1px solid rgb(48, 48, 48);
}

.cur-view-path, h2.heading {
  background-color: rgb(24, 24, 24) !important;
  color: rgb(192, 192, 192);
}
h2.heading {
  border-bottom: 1px solid rgb(48, 48, 48) !important;
  padding: 8px 0;
  margin: 0 16px;
}
.cur-view-path::after {
  border-bottom: 1px solid rgb(48, 48, 48) !important;
}

h4.border-bottom, .info-item-heading {
  border-bottom: 1px solid rgb(48, 48, 48) !important;
}

textarea, input.form-control, .btn-secondary, .input {
  background-color: rgb(32, 32, 32) !important;
  color: rgb(192, 192, 192) !important;
  border: 1px solid rgb(48, 48, 48) !important;
  border-radius: 6px !important;
  transition: color 0.2s, background-color 0.2s, border 0.2s !important;
}
textarea:hover, input.form-control:hover, .btn-secondary:hover, .input:hover {
  background-color: rgb(48, 48, 48) !important;
  color: rgb(208, 208, 208) !important;
  border: 1px solid rgb(64, 64, 64) !important;
}
textarea:focus, input.form-control:focus, .input:focus {
  background-color: rgb(48, 48, 48) !important;
  color: rgb(208, 208, 208) !important;
  border: 1px solid rgb(64, 64, 64) !important;
}
.sf-view-mode-btn.current-mode {
  background-color: rgb(32, 32, 32) !important;
  color: rgb(192, 192, 192) !important;
}

.btn-primary {
  color: white;
  background-color: #AA717C;
  border: 1px solid #AA717C !important;
  border-radius: 6px
}
.btn-primary:hover {
  background-color: #BC838E;
  border: 1px solid #D59CA7  !important;
}

tr > td {
  color: rgb(104, 104, 104);
  border-bottom: 1px solid rgb(48, 48, 48);
}
tr > th {
  border-bottom: 1px solid rgb(48, 48, 48);
}
.tr-highlight {
  background-color: rgb(48, 48, 48) !important;
}
.tr-active {
  background-color: rgb(64, 64, 64) !important;
}
.tr-drag-effect {
  background-image: none;
  background-position: 2px;
}

a.op-link {
  color: rgb(128, 128, 128) !important;
  transition: color 0.2s;
}
a.op-link:hover {
  color: #FFA3B5 !important;
}

.op-icon {
  color: rgb(128, 128, 128) !important;
  transition: color 0.2s;
}
.op-icon:hover {
  color: #FFA3B5 !important;
}
.fa-star {
  color: rgb(128, 128, 128) !important;
  transition: color 0.2s;
}
.fa-star:hover {
  color: #FFA3B5 !important;
}

a, a:hover {
  color: #FFA3B5;
}

.dir-icon, .detail-title > img, .detail-body > div > [src*="media/img"] {
  /*filter: contrast(75%);*/
  filter: invert(100%) hue-rotate(360deg) contrast(65%);
  /*display: none;*/
}
input.vam, input.form-check-input {
  filter: invert(100%) grayscale(100%) contrast(65%);
}
input.form-check-input {
  padding-right: 4px;
}
.ml-4, .mx-4 {
  margin-left: 1.33rem !important;
}

.dropdown-menu {
  border-radius: 12px;
  background-color: rgb(48, 48, 48);
  border: 1px solid rgb(64, 64, 64);
}
.dropdown-item {
  color: rgb(192, 192, 192);
  padding: .25rem 1rem;
}
.dropdown-item:hover {
  background-color: rgb(64, 64, 64);
  color: rgb(192, 192, 192);
}
.dropdown-divider {
  border-top: 1px solid rgb(64, 64, 64);
}

.modal-content {
  background-color: rgb(48, 48, 48);
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 12px;
}

#account {
  margin-left: 0px !important;
}

#user-info-popup {
  background-color: rgb(48, 48, 48);
}
.account-popup {
  right: -7px;
  top: 49px;
}
.txt {
  font-style: italic;
  font-weight: bold;
  line-height: 30px !important;
}
#quota-bar {
  border: 1px solid rgb(128, 128, 128);
}
#quota-usage {
  background: rgb(128, 128, 128);
}
.sf-popover {
  background: rgb(48, 48, 48);
  border: 1px solid rgb(64, 64, 64);
  border-radius: 12px;
  box-shadow: none;
  overflow: hidden;
}
.account-popup a.item {
  color: rgb(192, 192, 192);
  border: none;
}
.account-popup a.item:hover {
  background-color: rgb(64, 64, 64);
}
.account-popup .item {
  border-bottom: 1px solid rgb(64, 64, 64);
}
.outer-caret {
  border-color: rgb(64, 64, 64) transparent;
  color: rgb(64, 64, 64);
  display: none;
}
.inner-caret {
  border-color: rgb(48, 48, 48) !important;
  color: rgb(48, 48, 48);
  display: none;
}

body {
  color: rgb(192, 192, 192);
  background-color: rgb(24, 24, 24);
}

.file-view-content {
  background: rgb(24, 24, 24);
}
.file-view-tip {
  background: rgb(32, 32, 32);
  box-shadow: none;
  border: 1px solid rgb(48, 48, 48);
  border-radius: 12px;
}
.cur-view-detail {
  box-shadow: none;
}
.detail-container {
  border-left: 1px solid rgb(64, 64, 64);
  background-color: rgb(32, 32, 32);
  box-shadow: none;
}
.detail-header {
  background-color: rgb(48, 48, 48);
  border-bottom: 1px solid rgb(64, 64, 64);
}
.detail-title > .name {
  color: rgb(192, 192, 192) !important;
}
.dirent-table-container td {
  color: rgb(104, 104, 104);
}
.detail-header .detail-control {
  color: rgb(128, 128, 128);
  transition: color 0.2s;
  cursor: pointer;
}
.detail-header .detail-control:hover {
  color: rgb(208, 208, 208);
}

#image-view {
  background: none;
  border: none;
  /*box-shadow: 0 0 48px rgb(20, 20, 20);*/
}

.login-panel {
  background: rgb(48, 48, 48);
  border: 1px solid rgb(64, 64, 64);
  border-radius: 12px;
  padding: 20px 60px;
  width: 390px;
  margin: 0 auto;
  box-shadow: 0 0 256px #000;
}
#login-bottom .bottom-item {
    border-right: 1px solid #AA717C;
}
.sf-popover-con > li > a {
  color: rgb(192, 192, 192) !important;
  border-radius: 6px;
}
.sf-popover-con > li > a:hover {
  background-color: rgb(64, 64, 64) !important;
}